@media all and (max-width: 768px) {


    .toggle-button {

        display: block !important;
        position: fixed;
        z-index: 11;
    }

    .sidebar {
        top: 0;
        position: fixed;
        width: 250px;
        height: 100%;
        left: -250px;
        background: #101124;
        transition: left 0.4s ease;
        z-index: 101;
        overflow: auto;
    }

    .sidebar.show {
        left: 0px;
        top: 0;
        z-index: 99999999999999;
    }

    .content {
        width: 100%;
    }

    .content {
        position: relative;
        left: 0px !important;
        height: 100%;
        max-width: 100%;
    }

    .search-form {
        display: none !important;
    }

    .loger-name {
        display: none !important;
    }

    .vr {
        display: none !important;
    }

    .loger {
        position: relative;
        bottom: 10px !important;
    }

    .top-badge-a {
        position: relative;
        bottom: 4px !important;
    }

    .div-search-icon-small {
        position: relative;
    }

    .small-search-icon {
        position: absolute;
        right: 200px;
        top: 34px;
        font-size: 17px !important;
        color: #d1d3e2;
    }

    .top-badge-a i {
        margin-right: 28px !important;
    }

    .search-content {
        height: 70px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
        background: white;
    }
    .dashboard{
        margin-top: 100px;
    }

}